/**
 * This is the button styles file for the application.
 * @version 1.0
 * @author Conor O'Brien
 */

button.scheduleButton {
    background-color: #4CAF50;
}

button.yearButton {
    background-color: #61d566;
    border-radius: 10px;
    max-width: 15%;
}

button.scheduleButton, button.yearButton {
    display: inline-block;
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 4px 6px #999;
}

button.scheduleButton:hover, button.scheduleButton:active {
    background-color: #558d55;
}

button.yearButton:hover, button.yearButton:active {
    background-color: #72bb75;
}

button.scheduleButton:disabled {
    background-color: rgba(118, 211, 123, 0.6);
    border: #03a403 1px solid;
    color: #757575;
}

button.yearButton:disabled {
    background-color: rgba(93, 217, 47, 0.6);
    border: #03a403 1px solid;
    color: #757575;
}

button.scheduleButton:active, button.yearButton:active {
    box-shadow: 4px 4px #8c8c8c;
    transform: translateY(2px);
}

button#submit-schedule-button {
    max-width: 20%;
}

div button.retrievalBtn.scheduleButton {
    margin-top: 1px;
    margin-bottom: 10px;
}

button.retrievalBtn.scheduleButton {
    border-radius: 10px;
}