/**
 * Button Styles CSS
 * @author Conor O'Brien
 * @version 1.0
 */

button.headerButton {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 4px 6px #999;
}

button.headerButton:hover, button.headerButton:active {
    background-color: #558d55;
}

button.headerButton:disabled {
    background-color: rgba(118, 211, 123, 0.6);
    border: #03a403 3px solid;
    color: #757575;
}

button.headerButton:active {
    box-shadow: 4px 4px #8c8c8c;
    transform: translateY(2px);
}