/**
 * This is the main styles file for the application.
 * @version 1.0
 * @author Conor O'Brien
 */

html {
    height: 100vh;
}

body {
    background-color: rgb(236, 236, 236);
    height: 100%;
    font-family: proxima-nova,sans-serif,Arial,Helvetica,Verdana;
}

nav {
    background-color: #96c4fc;
    border-bottom: 5px solid #75adec;
}

a.navbar-brand {
    background-color: #2c882b;
    height: 5%;
}

a.navbar-brand img#centerImg {
    margin-right: auto;
    margin-top: auto;
}

section#navItems {
    display: inline-block;
}

section h2 {
    display: inline-block;
    margin-bottom: 0;
}

#logoImg {
    max-width: 70%;
    height: auto;
}

div.retrievalDiv > *{
    line-height: 1rem;
}

.quarter-box {
    border: #2c882b solid 3px;
    border-radius: 5px;
    background-color: white;
    min-height: 25%;
}

.hide-for-print {
    display: none;
}

.getYear {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}